@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font: 'Poppins', sans-serif;
}

h1 {
  font-size: 24px;
  line-height: 1;
}

button {
  border-radius: 40px;
  border: 1px solid #C04964;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #26586E;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 4px 4px 0px #26586E33;
  color: white;

}
button:hover {
  border-color: #C04964;
  ;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.comment-with-robot {
  display: flex;
  align-items: center;
  align-self: flex-end;
  max-width: 90%;
}

.page-container {
  display: grid;
  grid-template-rows: 50px auto 1fr 100px;
  width: 100vw;
  height: 100vh;
  border: 1px solid #416B7E;
  background-color: #F5F5F5;
}

.sticky-bottom {
  justify-self: center;
  align-self: end;
}

.computer-says {
  font-color: black;
  align-self: flex-end;
  background-color: #ecf0f2;
  padding: 1em;
  border-radius: 8px;
  text-align: right;
  font-weight: 300;
}

.user-says {
  font-weight: bold;
  align-self: flex-start;
  text-align: left;
  max-width: 90%;
}

.width125 {
  width: 125px;
  margin: 1em;
}

.flex-container {
  display: flex;
  z-index: 0;
  width: 40%;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
  background-color: #F5F5F5;
}

.flex-center {
  z-index: 1;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  background-color: #F5F5F5;


}

.nav-top-cta {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #416B7E;
  width: 100vw;
}



.nav-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;

}

.form-section {
  margin: 1em;
}

.chat-input {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  outline: none;
  border: 1px solid #A9BBC6;
  border-radius: 8px;
}